# ignore all .a files
*.csv
*.vscode
*.pkl

# only ignore the TODO file in the current directory, not subdir/TODO
/Data
/Features
/Model
/Notebook_local/.ipynb_checkpoints
/FastAPI/__pycache__/
/.ipynb_checkpoints